entrypoint="index.html"
hidden=[".config"]
modules = ["nodejs-20", "web:v2-20230623-0b7a606"]

[nix]
channel = "stable-23_11"

[deployment]
publicDir = "/"
deploymentTarget = "static"
run = ["sh", "-c", "node server.js"]

[workflows]
runButton = "Backend Server"

[[workflows.workflow]]
name = "Start Server"
author = 40400023

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Backend Server"
author = 40400023

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[ports]]
localPort = 3000
externalPort = 80
